* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    font-family: sans-serif;
    background-color: #f0f0f0;
}

main {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #aaaaaa;
}

main > div {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: solid 1px #828282;
}

